In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.7 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.7 kB ? eta -:--:--
     ------------------ ------------------- 41.0/82.7 kB 217.9 kB/s eta 0:00:01
     -------------------------------------- 82.7/82.7 kB 421.2 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\dell\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\dell\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\dell\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105795 sha256=3539d17c2d9600a499cd2969e23f8f9739928ebc773a061d1b81e0da65176820
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [ ]:
import kaggle

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\DELL\Desktop\Naresh\code\Data Analysis projects\Python and Sql project

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 250kB/s]
100%|##########| 200k/200k [00:00<00:00, 250kB/s]

In [5]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [11]:
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [15]:
df.rename(columns={'Order Id' : 'order_id', 'City' : 'city'})

,order_id,Order Date,Ship Mode,Segment,Country,city,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [19]:
df.columns = df.columns.str.lower()

In [25]:
df.columns = df.columns.str.replace(' ','_')

In [27]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [31]:
df['discount'] = df['list_price']*df['discount_percent']*0.01

In [35]:
df['sale_price'] = df['list_price']- df['discount']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8

In [37]:
df['profit'] = df['sale_price'] - df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [47]:
df['order_date'] =  pd.to_datetime(df['order_date'], format="%Y-%m-%d")

In [49]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [51]:
df.drop(columns = ["list_price", 'cost_price', 'discount_percent'], inplace = True)

In [3]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-JAF8DDH\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\DELL\AppData\Local\Temp\ipykernel_18040\1086500638.py:2: SyntaxWarning: invalid escape sequence '\S'
  engine = sal.create_engine('mssql://DESKTOP-JAF8DDH\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

In [69]:
df.to_sql('df_orders',con=conn, index=False, if_exists = 'append')

38

In [9]:
import pandas as pd

In [33]:
#find top 10 highest revenue generating products
query = """
select top(10) product_id, sum(sale_price) as sales
from df_orders
group by product_id
order by sales desc;
"""

df1 = pd.read_sql(query, engine)

print(df1)

        product_id    sales
0  TEC-CO-10004722  59514.0
1  OFF-BI-10003527  26525.3
2  TEC-MA-10002412  21734.4
3  FUR-CH-10002024  21096.2
4  OFF-BI-10001359  19090.2
5  OFF-BI-10000545  18249.0
6  TEC-CO-10001449  18151.2
7  TEC-MA-10001127  17906.4
8  OFF-BI-10004995  17354.8
9  OFF-SU-10000151  16325.8

In [31]:
# find top 5 highest selling products in each region

query = """

with cte as (
select region, product_id, sum(sale_price) as sales
from df_orders
group by region, product_id)

select * from (select *, ROW_NUMBER() over (partition by region order by sales desc) as r
from cte) as A 
where r <= 5;

"""

df2 = pd.read_sql(query, engine)

print(df2)

     region       product_id    sales  r
0   Central  TEC-CO-10004722  16975.0  1
1   Central  TEC-MA-10000822  13770.0  2
2   Central  OFF-BI-10001120  11056.5  3
3   Central  OFF-BI-10000545  10132.7  4
4   Central  OFF-BI-10004995   8416.1  5
5      East  TEC-CO-10004722  29099.0  1
6      East  TEC-MA-10001047  13767.0  2
7      East  FUR-BO-10004834  11274.1  3
8      East  OFF-BI-10001359   8463.6  4
9      East  TEC-CO-10001449   8316.0  5
10    South  TEC-MA-10002412  21734.4  1
11    South  TEC-MA-10001127  11116.4  2
12    South  OFF-BI-10001359   8053.2  3
13    South  TEC-MA-10004125   7840.0  4
14    South  OFF-BI-10003527   7391.4  5
15     West  TEC-CO-10004722  13440.0  1
16     West  OFF-SU-10000151  12592.3  2
17     West  FUR-CH-10001215   9604.0  3
18     West  OFF-BI-10003527   7804.8  4
19     West  TEC-AC-10003832   7722.7  5

In [21]:
#find month over month comparison for 2022 and 2023 sales eg: jan 2022 and jan 2023

query = """
with cte as (
select year(order_date) as order_year, month(order_date) as order_month, sum(sale_price) as sales
from df_orders
group by year(order_date), month(order_date)
)

select order_month , 
sum (case when order_year = 2022 then sales else 0 end) as year_2022,
sum(case when order_year = 2023 then sales else 0 end) as year_2023
from cte 
group by order_month
order by order_month

"""

df3 = pd.read_sql(query, engine)

print(df3)

    order_month  year_2022  year_2023
0             1    94712.5    88632.6
1             2    90091.0   128124.2
2             3    80106.0    82512.3
3             4    95451.6   111568.6
4             5    79448.3    86447.9
5             6    94170.5    68976.5
6             7    78652.2    90563.8
7             8   104808.0    87733.6
8             9    79142.2    76658.6
9            10   118912.7   121061.5
10           11    84225.3    75432.8
11           12    95869.9   102556.1

In [29]:
#for each category which month had the highest sales

query = """
with cte as (
select category , format(order_date, 'yyyyMM') as year_month, sum(sale_price) as sales
from df_orders
group by category,format(order_date, 'yyyyMM'))


select category, year_month, sales 
from (select *, 
row_number() over (partition by category order by sales desc) as rn
from cte) as A
where rn = 1

"""

df4 = pd.read_sql(query, engine)

print(df4)

          category year_month    sales
0        Furniture     202210  42888.9
1  Office Supplies     202302  44118.5
2       Technology     202310  53000.1

In [27]:
# which subcategory saw the highest growth by profit in 2023 compared to 2022
query = """
with cte as (select sub_category, year(order_date) as order_year, sum(profit) as profit
from df_orders
group by sub_category, year(order_date))


select top 1 sub_category, year_2023-year_2022 as growth
from ( 
select sub_category, 
sum (case when order_year = 2022 then profit else 0 end) as year_2022,
sum (case when order_year = 2023 then profit else 0 end) as year_2023
from cte 
group by sub_category
) as A
order by growth desc

"""

df5 = pd.read_sql(query, engine)

print(df5)

  sub_category  growth
0     Machines  3635.3